server {
    listen 80;
    server_name localhost;

    location ^~ /static/ {
        root /var/www/website;
    }

    location ~* .(css|js|mp4|png)$ {
        expires 30d;
    }

    location / {
        proxy_pass http://localhost:3000;
    }

    location /todo {
        proxy_pass http://localhost:2000/todo;
    }
}
