server {
    listen 80;
    location / {
        proxy_pass http://freshman.world:3000;
    }
    location ~^/(mp4|media)/ {
        root /root/resources/;
        autoindex on;
        access_log off;
        expires 30d;
    }
}
